.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1em;
}

.App-link {
  color: #61dafb;
}
.imageCtrl {
  max-width: 8em;
  max-height: 8em;
}
.imageCtrl img {
  max-width: 100%;
}

.shortlist .fav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shortlist .fav button  {
  width: 4em;
}
 .item-wrap {
   text-align: left;
 }
.item-wrap  button {
  width: 3em;
}
.shortlist .fav button.favorited, .item-wrap button.favorited{
  background-color: #2296f3;
}
.shortlist .fav button.watchLater, .item-wrap button.watchLater {
  background-color: #f3de22;
}
.card.wrapper {
  width: 9rem;
}
.list-group {
  width:100%;
}
.list-group .list-group-item {
  padding:0.25em;
}

.list-group .list-group-item .item-wrap {
  display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.button-wrap {
  min-width:7.25em;
  display: flex;
  justify-content: space-between;
}
.release_date {
  font-size: 0.8em;
  font-style: italic;
}