.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.imageCtrl {
  max-width: 8em;
  max-height: 8em;
}
.imageCtrl img {
  max-width: 100%;
}

.shortlist .fav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shortlist .fav button {
  width: 4em;
}
.shortlist .fav button.favorited {
  background-color: #2296f3;
}
.shortlist .fav button.watchLater {
  background-color: #f3de22;
}
.card.wrapper {
  width: 9rem;
}
